<style>
  h2 {
    color: blue;
  }
</style>

<h2>New Schedule added</h2>

<p>Mr. {{ user }} a new Schedule was Added to you</p>
<p>Please go to the address {{ address }} to complete your job with client Mr. {{ client }}</p>